.button {
  align-items: center;
  background-color: var(--score-blue);
  border-radius: 20px;
  border-width: 0;
  cursor: pointer;
  display: flex;
  font-family: 'Lato-Bold';
  font-size: 1.125rem;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  width: 60%;
}
