.container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  width: 660px;
}

@media (max-width: 660px) {
  .container {
    width: 100%;
  }
}
