.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: scroll;
  padding: 30px 30px;
  text-align: center;
  flex: 7;
}

.backgroundGray {
  background-color: var(--extra-light-gray);
}

.backgroundGreen {
  background-color: none;
  background-image: linear-gradient(
    var(--green-background-gradient-start),
    var(--green-background-gradient-end)
  );
}

.full {
  background-color: var(--extra-light-gray);
  padding: 0;
}

.contentImage {
  background-image: url(../assets/homeBG.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flexStart {
  justify-content: flex-start;
}

.flexCenter {
  justify-content: center;
}

.flexEnd {
  justify-content: flex-end;
  flex: 1;
}
