.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 960px;
}

@media (max-width: 960px) {
  .container {
    width: 100%;
  }
}
