.content {
  background-image: url(../assets/homeBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  text-align: center;
}
