.title {
  color: var(--extra-dark-gray);
  font-family: 'Lato-Bold';
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  padding-top: 10px;
}

.content {
  line-height: 1.4rem;
  padding: 10px 20px 20px;
}

.bottom {
  border-top: 1px solid var(--light-gray);
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
