.header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 10px;
}

.headerLeft {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.headerCenter {
  flex: 4;
  text-align: center;
  font-family: 'OpenSans-Bold';
}

.headerRight {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
